button {
  font-size: large;
  background-color: darkslategrey;
  color: white;
  border-radius: 10px;
  padding: 5px 100px;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.logo_container {
  width: 90vw;
  margin: auto;
}

.scanner-window {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  border: 2px black solid;
  border-radius: 15px;
  margin: 10px auto;
  place-items: center;
  overflow: hidden;
}
.qr-scanner-container {
  display: flex;
  height: 100%;
}
